* {
    box-sizing: border-box;
}

body {
    background-image: url(https://images.unsplash.com/photo-1599766276214-46e0152236d4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2000&q=80);
    font-family: 'Roboto Mono', monospace;
    color: white;
    position: fixed; 
    background-size: cover;
    background-repeat: none;
    min-width: 100%;
    min-height: 100%;
    padding: 0;
    margin: 0;
}



h1 {
    display: flex;
    justify-content: center;
}

button {
    float: right;
    margin-right: 20%;
    color: green;
  }
